<h1>Result</h1>

<ul>
  <li>Word: <%= @word%></li>
  <li>Time: <%= @result[:time]%></li>
  <li>Message: <%= @result[:message]%></li>
  <li>Score: <%= @result[:score]%></li>
</ul>

<%= link_to("Play again", new_path) %>
